@charset "UTF-8";

.content {
	max-height: 7* 20px; /* 7줄까지 표시 */
	overflow: hidden;
}

body {
	font-family: 'NanumSquareNeo';
	margin: 0;
	padding: 0;
}

.main {
	max-width: 1200px;
	margin: 20px auto;
	justify-content: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.logo-container {
	border-bottom: 2px solid #000000;
}

.board-box {
	margin-top: 20px;
}


#searchinput, #searchselect{
	font-family: 'NanumSquareNeo';
	border: 1px solid #B6BBC4;
	border-radius: 6px;
	padding: 5px;
	outline: none;
}

#board {
	max-height: 1200px;
	font-size: 18px;
}

#title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
	border-bottom: 2px solid #000000;
	padding-bottom:20px;
	vertical-align: middle;
}

#board table {
	text-align: left;
	width: 100%;
}

#board th:nth-child(1) {
	width: 25%;
}

#board th:nth-child(2) {
	width: 25%;
}

#board th:nth-child(3) {
	width: 40%;
}



td > button{
	font-family: 'NanumSquareNeo';
	padding: 4px 8px;
	margin-right: 5px;
	color: #000000;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	width: 70px;
	box-sizing: border-box;
	margin-right: 10px;
}


.tdDiv{
	margin-top: 20px;
	padding-bottom:20px;
	
	
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid #D9D9D9;
    
 
}



.viewBtn:hover{
	background-color: #6A7EFC;
	color: #ffffff;
	
}

.deleteBtn:hover, withdrawBtn:hover{
	background-color: #FF5656;
	color: #ffffff;
}


#pagination{
	text-align: center;
	margin-top: 20px;
	
}

.pageBtn{
	font-family: 'NanumSquareNeo';
	cursor: pointer;
	border-radius: 8px;
	border: none;
	padding: 4px 8px;
	margin: 3px;
}

.pageBtn.selected{
	background-color: #494953;
    color: white;
}