@charset "UTF-8";

#result {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
	overflow-x: auto;
}

#categoryBox {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
}

table {
	border-collapse: collapse;
	/* 인접한 테이블 셀의 경계를 합칩니다. */
	width: 1200px;
}

table,
th,
td {
	border: 1px solid #B6BBC4;
	/* 모든 테이블, th, td에 1px 굵기의 테두리를 설정합니다. */
	padding: 5px;
}

table {
	text-align: center;
	/* 폼 안의 텍스트 가운데 정렬 */
}

#categoryBox {
	align-self: flex-start;
	margin-bottom: 15px;
}

#searchBtn {
	border: 2px solid #B6BBC4;
	background-color: transparent;
	border-radius: 10px;
	padding: 10px 15px;
	font-family: 'NanumSquareNeo';
}

#category {
	border: 2px solid #B6BBC4;
	border-radius: 10px;
	padding: 10px 15px;
	height: 30px;
	width: 230px;
	font-size: 14px;
	font-family: 'NanumSquareNeo';
}

#foodSelect {
	font-family: 'NanumSquareNeo';
}