@charset "UTF-8";

body {
	font-family: 'NanumSquareNeo';
	margin: 0;
	padding: 0;
}

main {
	max-width: 1200px;
	margin: 20px auto;
	justify-content: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.menubox {
	display: flex;
	border-bottom: 2px solid #000000;
	padding-bottom: 10px;
	border-top: 2px solid #000000;
	padding-top: 10px;
	justify-content: center;
}

.menubar {
	display: flex;
	max-width: 100%;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
}

.menuicon {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.guidebox {
	display: flex;
	max-width: 90%;
	width: 90%;
	padding-top: 20px;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
}

.guide {
	flex: 1;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	height: 50%;
	margin-bottom: 40px;
}

.guidetitle {
	font-size: 20px;
}

.guidetext {
	font-size: 18px;
	text-align: left;
	max-width: 80%;
	width: 80%;
	flex: 1;
}

.guidetext li a {
	display: block;
	word-break: break-all;
}

li {
	margin-top: 7px;
	margin-bottom: 7px;
}

#chargebox {
	overflow-y: auto;
	width: 100%;
	height: 50%;
}

#chargebox img {
	max-width: 300px;
}

@media screen and (max-width:659px) {
	#sendMsgInput {
		width: 58%;
		margin-left: 10%;
	}
}

@media screen and (min-width:660px) and (max-width:899px) {
	#sendMsgInput {
		width: 65%;
		margin-left: 10%;
	}
}

@media screen and (min-width:900px) and (max-width:1399px) {
	#sendMsgInput {
		width: 70%;
		margin-left: 10%;
	}
}

@media screen and (min-width:1400px) {
	#sendMsgInput {
		width: 71%;
		margin-left: 10%;
	}
}

#chatTitle {
	margin-top: 0px;
	margin-left: 10%;
	font-size: large;
}

#chatIcon {
	height: 18px;
	width: 18px;
	margin-right: 10px;
}

#allMsgList {
	display: block;
	border: 2px solid #B6BBC4;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
}

#friendName {
	display: inline-block;
	font-weight: bolder;
	text-align: center;
	padding: 5px 10px;
	width: 50px;
}

#content {
	display: inline-block;
	margin-left: 20px;
	border: 2px solid #EDF2F6;
	border-radius: 10px;
	background-color: #EDF2F6;
	padding: 5px 20px;
}

#regdate {
	margin-left: 92px;
	margin-top: 0px;
	font-size: small;
}

#sendMsgDiv {
	display: flex;
	margin-bottom: 70px;
}

#sendMsgInput {
	display: inline-block;
	border: 2px solid #B6BBC4;
	border-radius: 10px;
	padding: 10px 15px;
	margin-right: 10px;
}

#sendMsgBtn {
	display: inline-block;
	cursor: pointer;
	border: 2px solid #EDF2F6;
	border-radius: 5px;
	background-color: #EDF2F6;
	width: 65px;
	height: 40px;
	color: gray;
	font-family: 'NanumSquareNeo';
}

@media all and (max-width:479px){


main {
	max-width: 470px;
}

.menubox {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}

.menuicon{
  width:20px;
  height:20px;
  }

.guidebox {
	flex-direction: column;
}

.guide {
	margin-bottom: 30px;
}
	
}